#!{{ lookPath "bash" }}
set -Eeou pipefail
source {{ .chezmoi.workingTree }}/scripts/logger.sh

trap "_error \"Can't setup dock\"" ERR
trap 'killall Dock' EXIT

_notice "Setup dock for Darwin"
declare -a remove_labels=(
  Launchpad
  Safari
  Messages
  Mail
  Maps
  Photos
  FaceTime
  Calendar
  Contacts
  Reminders
  Notes
  Freeform
  TV
  Music
  Keynote
  Numbers
  Pages
  "App Store"
)

for label in "${remove_labels[@]}"; do
  dockutil --no-restart --remove "${label}" || true
done
_success "Setup dock for Darwin done"
