{{- $ghUsers := dict }}
{{- $ghUsers = join .chezmoi.sourceDir "../secrets/data/personal/gh.yaml.age" | include | decrypt | fromYaml }}

{{- $protocol := "ssh" }}
{{- if eq .place "OFFICE" }}
{{-   $protocol = "https" }}
{{- end }}

github.com:
    users:
    {{- range $ghUsers.users }}
        {{ .username }}: {}
    git_protocol: {{ $protocol }}
    user: {{ .username }}
    oauth_token: {{ .token }}
    {{- end }}
