# Plugin manager
exec-once = hyprpm reload -n && hyprctl reload

# Authentication agent
{{- if eq .chezmoi.osRelease.id "gentoo" }}
exec = /usr/libexec/hyprpolkitagent
{{- else }}
exec = systemctl --user start hyprpolkitagent
{{- end }}

# Sound & Screencast
{{- if eq .chezmoi.osRelease.id "gentoo" }}
exec-once = gentoo-pipewire-launcher restart
{{- else }}
exec-once = systemctl --user start wireplumber
exec-once = systemctl --user start pipewire-pulse
{{- end }}
exec-once = ~/.config/hypr/hyprland/scripts/xdg_portal.sh

# Thunar
exec-once = thunar --daemon

# Gtk theme
exec-once = ~/.config/hypr/hyprland/scripts/gtk.sh

# Launcher
exec-once = walker --gapplication-service

# Wallpaper
exec-once = hyprpaper
{{- $wall := "" }}
{{- $id := printf "%s_%s" .place .kind }}
{{- if eq $id "HOME_pc" }}
{{- $wall = "1.mp4" }}
{{- else }}
{{- $wall = "3.mp4" }}
{{- end }}
exec-once = mpvpaper DP-1 {{ .chezmoi.homeDir }}/Wallpapers/animated/{{ $wall }} --mpv-options "loop-file=inf no-config hwdec=auto-safe gpu-context=auto gpu-api=vulkan no-audio" --fork

# Bar & Panel & Widgets
exec-once = ~/.config/hypr/hyprland/scripts/waybar.sh

# Notification center
exec-once = swaync

# OSD
exec-once = swayosd-server

# Screen shader and changes detection
{{- if ne .chezmoi.osRelease.id "gentoo" }}
exec-once = dbus-update-activation-environment --systemd HYPRLAND_INSTANCE_SIGNATURE
exec-once = systemctl --user start hyprsunset.service
exec-once = sunsetr
{{- else }}
exec = sunsetr
{{- end }}
exec-once = shikane

{{- if ne .place "HOME" }}
# Screen idle
exec-once = hypridle
{{- end }}

# Clipboard
exec-once = wl-paste --type text --watch cliphist store
exec-once = wl-paste --type image --watch cliphist store

# Network & Bluetooth
exec-once = nm-applet --indicator
exec-once = blueman-applet

# IM
exec-once = fcitx5 -d --replace

# Terminal
exec-once = kitty

# Browser
{{- if eq .browser "FIREFOX" }}
$browser = "firefox"
{{- else if eq .browser "ZEN" }}
$browser = "zen-browser"
{{- end }}
{{- if eq .place "HOME" }}
exec-once = $browser -P Personal
{{- else if eq .place "OFFICE" }}
exec-once = $browser -P Work
{{- end }}

$emailClient = betterbird{{ if eq .chezmoi.osRelease.id "gentoo" }}-bin{{ end }}
# Email client
{{- if eq .place "HOME" }}
exec-once = $emailClient -P Personal
{{- else if eq .place "OFFICE" }}
exec-once = $emailClient -P Work
{{- end }}

# Chat
exec-once = ferdium{{ if eq .chezmoi.osRelease.id "gentoo" }}-bin{{ end }} --enable-webrtc-pipewire-capturer --enable-features=UseOzonePlatform,WaylandWindowDecorations --ozone-platform=wayland --enable-wayland-ime --ozone-platform-hint=auto

# Torrent
exec-once = qbittorrent

# Scratchpad
exec-once = [workspace special:hdrop silent] kitty --class btop -e btop
