{{- $configPath := joinPath .chezmoi.homeDir ".config/firefox/profiles" }}
{{- $releaseId := "0" }}
{{- if eq .chezmoi.osRelease.id "gentoo" }}
{{- $releaseId = mozillaInstallHash "/usr/lib64/firefox" }}
{{- else }}
{{- $releaseId = mozillaInstallHash "/usr/lib/firefox" }}
{{- end -}}
[Install{{- $releaseId -}}]
Default={{- $configPath }}/personal
Locked=1

[Profile1]
Name=Work
IsRelative=0
Path={{- $configPath }}/work

[Profile0]
Name=Personal
IsRelative=0
Path={{- $configPath }}/personal

[General]
StartWithLastProfile=1
Version=2
