{{- if has "TCV" .decryptEnterprise }}
{{-   $top := merge . (dict
        "enterprise" (dict
          "name" "TCV"
          "scope" "TCV"
        )
      )
}}
{{- includeTemplate "jira/config.yaml.tmpl" $top }}
{{- end -}}
