encryption: age
format: yaml
mode: symlink
{{- if stdinIsATTY }}
progress: true
{{- end }}

add:
  templateSymlinks: true

age:
  identity: {{ .chezmoi.homeDir }}/.config/chezmoi/key
  recipient: age1kyput0lfany6tgx3sj04frxwuqld4j3f2q8ulsxwchr5lmvyg4usltkqvt

diff:
  pager: delta --pager="ov -F --section-delimiter '^(added:|removed:|renamed:|Δ)' --section-header --pattern '•'"

data:
  {{ $hostname := promptStringOnce . "hostname" "Name of the machine" "tuandzung" | quote }}
  hostname: {{ $hostname }}
  {{ $kind := promptStringOnce . "kind" "What kind of this machine is it (pc/vm/laptop/...)" "pc" | quote }}
  kind: {{ $kind }}
