[submodule "nvim"]
	path = home/dot_config/nvim
	url = git@github.com:tuandzung/vim-config.git
[submodule "icons"]
	path = modules/icons
	url = git@github.com:tuandzung/icons.git
[submodule "firefox-personal"]
	path = home/dot_config/firefox/profiles/personal
	url = git@github.com:tuandzung/FirefoxPersonal.git
[submodule "lepton"]
	path = home/.chezmoitemplates/firefox/chrome/lepton
	url = git@github.com:black7375/Firefox-UI-Fix.git
[submodule "firefox-work"]
	path = home/dot_config/firefox/profiles/work
	url = git@github.com:tuandzung/FirefoxPersonal.git
	branch = work
[submodule "wallpapers"]
	path = home/Wallpapers
	url = git@github.com:tuandzung/wallpapers.git
