#!/usr/bin/env bash
. {{ .chezmoi.sourceDir }}/../scripts/lib/dybatpho/init.sh
dybatpho::register_common_handlers

{{- if eq .chezmoi.os "linux" }}
dybatpho::header "Setup GRUB"
# modules hash: {{ joinPath .chezmoi.sourceDir "etc/default/grub.tmpl" | include | sha256sum }}
sudo grub-mkconfig -o /boot/grub/grub.cfg
dybatpho::success "Setup GRUB done"
{{- end }}
