#!/usr/bin/env bash
set -Eeou pipefail
source {{ .chezmoi.workingTree }}/scripts/logger.sh

{{- if eq .chezmoi.os "linux" }}
_notice "Setup PAM"
{{- range (joinPath .chezmoi.sourceDir "etc/pam.d/*" | glob) }}
# {{ . }} hash: {{ . | include | sha256sum }}
{{- end }}
if [ -f /etc/pam.d/system-local-login ]; then
  if ! grep -q '^auth\s*include\s*u2f' /etc/pam.d/system-local-login; then
    _notice "Adding pam_u2f to system-local-login"
    {{- if eq .place "HOME" }}
    sed -i '1 i\auth include u2f' /etc/pam.d/system-local-login
    {{- else }}
    echo "auth include u2f" >> /etc/pam.d/system-local-login
    {{- end }}
  fi
fi
{{- if eq .chezmoi.osRelease.id "arch" "ubuntu" }}
sed -i '/#auth\s*required\s*pam_wheel.so/s/^#//g' /etc/pam.d/su
sed -i '/#auth\s*required\s*pam_wheel.so/s/^#//g' /etc/pam.d/su-l
{{- end }}
_success "Setup PAM"
{{- end }}
