@import "catppuccin.css";

@define-color window_bg_color @base;
@define-color accent_bg_color @blue;
@define-color theme_fg_color @text;
@define-color error_bg_color @red;
@define-color error_fg_color @crust;

* {
  all: unset;
}

popover {
  background: lighter(@window_bg_color);
  border: 1px solid darker(@accent_bg_color);
  border-radius: 8px;
  padding: 8px;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

scrollbar {
  opacity: 0;
}

.window {
  color: @theme_fg_color;
}

.box-wrapper {
  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  background: @window_bg_color;
  padding: 24px;
  border-radius: 6px;
  border: 1px solid @crust;
}

.elephant-hint,
.placeholder {
  color: @theme_fg_color;
}

.search-container {
  background: @mantle;
  padding: 8px;
  border-radius: 4px;
}

.input {
  caret-color: @theme_fg_color;
  background: transparent;
  padding: 2px;
  color: @theme_fg_color;
}

.input placeholder {
  opacity: 0.5;
}

.input selection {
  background: alpha(@accent_bg_color, 0.35);
}

.list {
  color: @theme_fg_color;
}

child {
  padding: 8px;
}

.item-box {
  border-radius: 4px;
  padding: 8px;
}

child:hover .item-box,
child:selected .item-box {
  background: alpha(@surface0, 0.4);
}

.item-subtext {
  font-size: 12px;
  opacity: 0.5;
}

.item-quick-activation {
  background: alpha(@accent_bg_color, 0.25);
  border-radius: 4px;
  padding: 8px;
}

.preview {
  border: 1px solid alpha(@accent_bg_color, 0.25);
  border-radius: 4px;
  color: @theme_fg_color;
  padding: 8px;
}

.preview .large-icons {
  -gtk-icon-size: 64px;
}

.keybinds {
  padding-top: 10px;
  border-top: 1px solid @surface0;
  font-size: 12px;
  color: @theme_fg_color;
}

.keybind-button {
  opacity: 0.5;
}

.keybind-button:hover {
  opacity: 0.75;
}

.keybind-bind {
  text-transform: lowercase;
  opacity: 0.35;
}

.keybind-label {
  padding: 2px 4px;
  border-radius: 4px;
  border: 1px solid @theme_fg_color;
}

.error {
  padding: 10px;
  background: @error_bg_color;
  color: @error_fg_color;
}

.aiItem,
.ai-item {
  padding: 10px;
  border-radius: 4px;
  color: @theme_fg_color;
  background: @window_bg_color;
}

.aiItem.user,
.ai-item.user {
  padding-left: 0;
  padding-right: 0;
  background: transparent;
}

.aiItem.assistant,
.ai-item.assistant {
  background: @mantle;
}
