**/.git/**
**/.gitignore
**/.gitmodules
**/*.sqlite-wal
**/__pycache__
.DS_Store

{{- if eq .chezmoi.os "darwin" }}
.config/fontconfig
.config/gtk-3.0
.config/gtk-4.0
.config/hypr
.config/hyprshade
.config/fcitx5
.config/shikane
.config/swaync
.config/waybar
.config/wofi
.config/Trolltech.conf
.config/k9s
.icons
.local/share
.mozilla
.thunderbird
.zen
{{- else }}
.chezmoiscripts/darwin/**
Library
.hammerspoon
.config/karabiner
{{- if .isHeadless }}
.config/kitty
.config/thunderbird
.thunderbird
.local/share/fonts
.config/fontconfig
.local/share/themes
.local/share/icons
.config/gtk-3.0
.config/gtk-4.0
.config/Trolltech.conf
.config/tridactyl
.config/firefox
.mozilla
.config/zen
.zen
.config/hypr
.config/hyprshade
.config/mpv
.config/fcitx5
.config/vesktop
.config/shikane
.config/swaync
.config/waybar
.config/walker
.config/wofi
.config/update_browser_profiles.sh
.wayland_init.fish
Wallpapers
{{- end }}
{{- end }}
{{- if eq .browser "ZEN" }}
.mozilla
.config/firefox/profiles
Library/Application\ Support/Firefox
{{- else }}
.zen
.config/zen
Library/Application\ Support/zen
{{- end }}
{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "gentoo") }}
.config/systemd
{{- end }}
