#!/bin/env fish

mkdir -p $XDG_RUNTIME_DIR
{{- $cmd := "Hyprland" }}
{{- if findExecutable "start-hyprland" (list "/usr/bin") | isExecutable }}
{{-   $cmd = "start-hyprland" }}
{{- end }}
dbus-run-session {{ $cmd }}
