#!{{ .bash }}
. {{ .chezmoi.sourceDir }}/../scripts/lib/dybatpho/init.sh
dybatpho::register_common_handlers

{{- if eq .chezmoi.os "darwin" }}
{{- range (joinPath .chezmoi.sourceDir "private_dot_macos/*" | glob) }}
# {{ . }} hash: {{ . | include | sha256sum }}
{{- end }}
dybatpho::header "Setup MacOS"
sudo scutil --set HostName {{ .hostname }}
macos_defaults_dir="$(dybatpho::path_join "{{ .chezmoi.homeDir }}" ".macos")"
macos-defaults apply "${macos_defaults_dir}"

# Disable the sound effects on boot
sudo nvram SystemAudioVolume=" "
# Remove duplicates in the “Open With” menu (also see `lscleanup` alias)
/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -r -domain local -domain system -domain user

dybatpho::progress "Mapping keys for Apple Internal Keyboard"
kb-remap --name "Apple Internal Keyboard / Trackpad" --swap fn:option --swap capslock:control

dybatpho::success "Setup MacOS"
{{- end }}
