#!{{ lookPath "bash" }}
set -Eeou pipefail
source {{ .chezmoi.workingTree }}/scripts/logger.sh
trap "_error \"Can't setup neovim\"" ERR

_notice "Setup neovim"
nvim --headless "+Lazy! sync" +qa
_success "Setup neovim"
