import yaml
from logger import logger
from binary_installer import binaries_installer, cleanup
from os_installer import os_packages_installer
from shell_installer import shell_installer


if __name__ == "__main__":
    with open("{{ .chezmoi.homeDir }}/.config/pkg_installer/tools.yaml", "r") as f:
        tools = list(yaml.safe_load(f))

        tools_os = filter(lambda tool: tool and tool.get("method") == "os", tools)
        tools_bin = filter(lambda tool: tool and tool.get("method") == "binary", tools)
        tools_shell = filter(lambda tool: tool and tool.get("method") == "shell", tools)

        {{- $shortCode := "" }}
        {{- $name := "" }}
        {{- if eq .chezmoi.os "linux" }}
        {{- if eq .chezmoi.osRelease.id "gentoo" }}
        {{- $shortCode = "gentoo" }}
        {{- $name = "Gentoo Linux" }}
        {{- else if eq .chezmoi.osRelease.id "arch" }}
        {{- $shortCode = "arch" }}
        {{- $name = "Arch Linux" }}
        {{- else if eq .chezmoi.osRelease.id "debian" "ubuntu" }}
        {{- $shortCode = "ubuntu" }}
        {{- $name = "Debian-based Linux" }}
        {{- end }}
        {{- else if eq .chezmoi.os "android" }}
        {{- $shortCode = "termux" }}
        {{- $name = "Android" }}
        {{- else if eq .chezmoi.os "darwin" }}
        {{- $shortCode = "macos" }}
        {{- $name = "MacOS" }}
        {{- end }}

        logger.info("Detected OS: {{ $name }}")
        # Install OS packages
        detected_os = "{{ $shortCode }}"
        os_packages_installer(detected_os, tools_os)
        binaries_installer(tools_bin)
        shell_installer(tools_shell)

        # Clean up temporary directory
        cleanup()

        logger.info("All tools downloaded and installed.")
