{{- $shortCode := "" }}
{{- $name := "" }}
{{- if eq .chezmoi.os "linux" }}
{{- if eq .chezmoi.osRelease.id "gentoo" }}
{{- $shortCode = "gentoo" }}
{{- $name = "Gentoo Linux" }}
{{- else if eq .chezmoi.osRelease.id "arch" }}
{{- $shortCode = "arch" }}
{{- $name = "Arch Linux" }}
{{- else if eq .chezmoi.osRelease.id "debian" "ubuntu" "linuxmint" }}
{{- $shortCode = "ubuntu" }}
{{- $name = "Debian-based Linux" }}
{{- end }}
{{- else if eq .chezmoi.os "android" }}
{{- $shortCode = "termux" }}
{{- $name = "Android" }}
{{- else if eq .chezmoi.os "darwin" }}
{{- $shortCode = "macos" }}
{{- $name = "MacOS" }}
{{- end }}
name: {{ $name }}
shortCode: {{ $shortCode }}

