import yaml
import subprocess
import sys
import os
from logger import logger
from utils import load_all_tools

def run_shell_command(command):
    """Run a shell command and handle errors."""
    logger.info(f"Running command: {command}")
    try:
        subprocess.run(command, shell=True, check=True)
    except subprocess.CalledProcessError as e:
        logger.error(f"Failed to run command: {e}")
        sys.exit(1)

def install_dependencies(dependencies):
    all_tools = load_all_tools()
    deps = list(filter(lambda tool: tool and tool["name"] in dependencies, all_tools))
    for dep in deps:
        dep_method = dep.get("method")
        dep_name = dep.get("name")
        logger.info(f"Installing dependency: {dep_name}")
        run_shell_command(f"tep_{dep_method} -t {dep_name}")

def shell_installer(packages):
    flag_install_is_essential_only = os.environ.get("FLAG_INSTALL_IS_ESSENTIAL_ONLY")

    for pkg in packages:
        name = pkg.get("name")
        is_essential = pkg.get("is_essential", False)
        dependencies = pkg.get("dependencies", [])
        content = pkg.get("content")

        if flag_install_is_essential_only and not is_essential:
            logger.info(f"{name} is not an essential tool, skipping...")
            continue

        logger.info(f"Installing package: {name}")

        # Check and install dependencies
        if dependencies:
            logger.info(f"Installing dependencies for {name}...")
            install_dependencies(dependencies)

        # Run the installation command
        if content:
            run_shell_command(content)

        logger.info(f"Package {name} installed successfully.")

if __name__ == "__main__":
    all_tools = load_all_tools()
    tools = filter(lambda tool: tool and tool["method"] == "shell", all_tools)

    tool_name = sys.argv[1]
    if tool_name:
        tools = filter(lambda tool: tool and tool["name"] == tool_name, all_tools)
    if not tools:
        logger.warning(f"No tool with method: \"shell\" found with name: \"{tool_name}\"")
    shell_installer(tools)
