{{- $theme := .catppuccin.macchiato }}
{{- if not .darkMode }}
{{-   $theme = .catppuccin.latte }}
{{- end }}

layout {
    background-color "{{ $theme.crust }}"
    focus-ring {
        active-gradient from="{{ $theme.peach }}" to="{{ $theme.sky }}" angle=45 relative-to="workspace-view" in="oklch longer hue"
        inactive-gradient from="{{ $theme.overlay2 }}" to="{{ $theme.crust }}" angle=45 relative-to="workspace-view"
    }
    shadow {
        color "{{ $theme.surface0 }}"
    }
    tab-indicator {
        active-color "{{ $theme.rosewater }}"
        inactive-color "{{ $theme.overlay1 }}"
        urgent-color "{{ $theme.blue }}"
    }

    insert-hint {
        gradient from="{{ $theme.flamingo }}" to="{{ $theme.red }}" angle=45 relative-to="workspace-view" in="oklch longer hue"
    }

}

recent-windows {
    highlight {
        active-color "{{ $theme.sapphire }}"
        urgent-color "{{ $theme.maroon }}"
    }
}

// Indicate screencasted windows with red colors.
window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-gradient from="{{ $theme.red }}" to="{{ $theme.maroon }}" angle=45 relative-to="workspace-view"
        inactive-color "{{ $theme.rosewater }}"
    }

    border {
        inactive-color "{{ $theme.red }}"
    }

    shadow {
        color "{{ $theme.pink }}"
    }

    tab-indicator {
        active-color "{{ $theme.peach }}"
        inactive-color "{{ $theme.red }}"
    }
}

overview {
    backdrop-color "{{ $theme.base }}"
    workspace-shadow {
        color "{{ $theme.crust }}"
    }
}

layer-rule {
    shadow {
        color "{{ $theme.crust }}"
    }
}
