{{- $theme := .catppuccin.macchiato }}
{{- if not .darkMode }}
{{-   $theme = .catppuccin.latte }}
{{- end }}

{{- $workspaceModule := "hyprland/workspaces" }}
{{- if eq .windowManager "NIRI" }}
{{-   $workspaceModule = "niri/workspaces" }}
{{- end }}
{
  "output": "DP-1",
  "layer": "top",
  "position": "top",
  "modules-left": [
    {{ if eq .windowManager "HYPRLAND" }}{{ $workspaceModule | quote }},{{- end }}
    {{ if eq .windowManager "NIRI" }}"niri/window",{{- end }}
    "mpris",
    "custom/cava"
  ],
  "modules-center": [
    "clock"
  ],
  "modules-right": [
    "group/hardware",
    "tray",
    "group/audio",
    "custom/pomodoro",
    "custom/notification"
  ],
  "group/audio": {
    "orientation": "inherit",
    "modules": [
      "pulseaudio",
      "pulseaudio/slider",
      "custom/pulseaudio-cycle"
    ],
    "drawer": {
      "click-to-reveal": false,
      "transition-left-to-right": true,
      "children-class": "not-audio"
    }
  },
  "group/hardware": {
    "orientation": "inherit",
    "drawer": {
      "click-to-reveal": true,
      "transition-left-to-right": false,
      "children-class": "not-hardware"
    },
    "modules": [
      "custom/hw",
      "custom/vpn",
      "network",
      "battery",
      "cpu",
      "temperature",
      "memory",
      "disk"
    ]
  },
  "mpris": {
    "format": "{player_icon} {dynamic}",
    "format-paused": "{status_icon} <i>{dynamic}</i>",
    "dynamic-order": ["title", "artist", "position", "length"],
    "player-icons": {
      "default": "▶",
      "spotify": " "
    },
    "status-icons": {
      "paused": "⏸"
    },
    "ignored-players": ["firefox", "zen"]
  },
  "custom/cava": {
    "exec": "sleep 3 && cava -p $XDG_CONFIG_HOME/cava/waybar_config | sed -u 's/;//g;s/0/0/g;s/1/1/g;s/2/2/g;s/3/3/g;s/4/4/g;s/5/5/g;s/6/6/g;s/7/7/g;s/8/8/g;s/9/9/g;'"
  },
  "custom/pulseaudio-cycle": {
    "return-type": "json",
    "exec-on-event": true,
    "interval": 5,
    "exec": "pactl --format=json list sinks | jq -cM --unbuffered \"map(select(.name == \\\"$(pactl get-default-sink)\\\"))[0].properties | [.\\\"node.nick\\\",.\\\"alsa.name\\\",.\\\"media.name\\\",.\\\"alsa.long_card_name\\\"] | map(select(length>0))[0] | {text:.}\"",
    "exec-if": "sleep 0.1",
    "on-click": "pactl --format=json list sinks short | jq -cM --unbuffered \"[.[].name] | .[((index(\\\"$(pactl get-default-sink)\\\")+1)%length)]\" | xargs pactl set-default-sink"
  },
  "custom/hw": {
    "format": "",
    "tooltip-format": "Hardware group"
  },
  "custom/notification": {
    "tooltip": false,
    "format": "{icon}",
    "format-icons": {
      "notification": "󰂚<span foreground='{{ $theme.red }}'><sup></sup></span>",
      "none": "󰂚",
      "dnd-notification": "󰂛<span foreground='{{ $theme.red }}'><sup></sup></span>",
      "dnd-none": "󰂛",
      "inhibited-notification": "󰂚<span foreground='{{ $theme.red }}'><sup></sup></span>",
      "inhibited-none": "󰂚",
      "dnd-inhibited-notification": "󰂛<span foreground='{{ $theme.red }}'><sup></sup></span>",
      "dnd-inhibited-none": "󰂛"
    },
    "return-type": "json",
    "exec-if": "which swaync-client",
    "exec": "swaync-client -swb",
    "on-click": "swaync-client -t -sw",
    "on-click-right": "swaync-client -d -sw",
    "escape": true
  },
  {{ $workspaceModule | quote }}: {
    "persistent-workspaces": {
      "DP-1": [
        "term",
        "web",
        "mail",
        "chat",
        "media",
        "games",
        "office",
        "vm",
        "others"
      ]
    },
    "sort-by": "id",
    "format": " {icon} ",
    "format-icons": {
      "term": "",
      "web": "",
      "mail": "",
      "office": "󰏆",
      "chat": "",
      "media": "",
      "games": "󰮃",
      "vm": "",
      "others": "󰣆"
    }
  },
  {{- if eq .windowManager "NIRI" }}
  "niri/window": {
    "format": "{title}",
    "separate-outputs": false,
    "icon": true,
    "max-length": 50
  },
  {{- end }}
  "cpu": {
    "format": " {usage:2}%",
    "tooltip": false,
    "interval": 1
  },
  "memory": {
    "format": "  {:2}%",
    "interval": 1
  },
  "temperature": {
    "hwmon-path": "/sys/class/hwmon/hwmon4/temp1_input",
    "critical-threshold": 95,
    "format": "{icon} {temperatureC:2}°C",
    "format-icons": [
      ""
    ]
  },
  "disk": {
    "interval": 3,
    "format": "  {free} ",
    "path": "/home"
  },
  "network": {
    "format": " {bandwidthUpBits}  {bandwidthDownBits}"
  },
  "tray": {
    "icon-size": 16,
    "spacing": 12
  },
  "custom/music": {
    "format": "  {}",
    "escape": true,
    "interval": 5,
    "tooltip": false,
    "exec": "playerctl -p spotify metadata --format='{{ "{{" }} title {{ "}}" }} - {{ "{{" }} artist {{ "}}" }}'",
    "exec-if": "pgrep spotify",
    "on-click": "playerctl -p spotify play-pause",
    "on-scroll-up": "playerctl -p spotify previous",
    "on-scroll-down": "playerctl -p spotify next",
    "max-length": 50
  },
  "clock": {
    "format": "  {:%H:%M}",
    "format-alt": "󰃭  {:%A, %B %d, %Y - %R}",
    "tooltip-format": "<tt><small>{calendar}</small></tt>",
    "calendar": {
      "mode": "year",
      "mode-mon-col": 3,
      "weeks-pos": "left",
      "on-scroll": 1,
      "format": {
        "months": "<span color='{{ $theme.rosewater }}'><b>{}</b></span>",
        "days": "<span color='{{ $theme.pink }}'><b>{}</b></span>",
        "weeks": "<span color='{{ $theme.teal }}'><b>W{}</b></span>",
        "weekdays": "<span color='{{ $theme.yellow }}'><b>{}</b></span>",
        "today": "<span color='{{ $theme.red }}'><b><u>{}</u></b></span>"
      }
    },
    "actions": {
      "on-click-right": "mode",
      "on-scroll-up": "shift_up",
      "on-scroll-down": "shift_down"
    }
  },
  "backlight": {
    "device": "intel_backlight",
    "format": "{icon}",
    "format-icons": [
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      ""
    ]
  },
  "battery": {
    "states": {
      "warning": 30,
      "critical": 15
    },
    "format": "{icon}",
    "format-charging": "",
    "format-plugged": "",
    "format-alt": "{icon}",
    "format-icons": [
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      ""
    ]
  },
  "pulseaudio": {
    "format": "{icon}",
    "format-bluetooth": "{icon}",
    "format-bluetooth-muted": "{icon}",
    "format-muted": "",
    "format-icons": {
      "headphone": "",
      "hands-free": "",
      "headset": "",
      "phone": "",
      "portable": "",
      "car": "",
      "default": [
        "",
        "",
        ""
      ]
    },
    "on-click": "pavucontrol"
  },
  "custom/pomodoro": {
    "format": "{}",
    "return-type": "json",
    "exec": "waybar-module-pomodoro -o  -b   --no-icons",
    "on-click": "waybar-module-pomodoro toggle",
    "on-click-right": "waybar-module-pomodoro reset"
  },
  "custom/vpn": {
    "format": "VPN ",
    "exec": "echo '{\"class\": \"connected\"}'",
    "exec-if": "test -d /proc/sys/net/ipv4/conf/tun0",
    "return-type": "json",
    "interval": 5
  }
}
