@import "catppuccin.css";

* {
  font-family: Tepiosevka Nerd Font;
  font-size: 14px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

/* make window module transparent when no windows present */
window#waybar.empty #window {
  background-color: transparent;
  border: none;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @base;
  margin-left: 1rem;
  border: 2px solid @sapphire;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sapphire;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @teal;
  border-radius: 1rem;
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.urgent {
  background-color: @red;
}

#custom-cava,
#custom-music,
#custom-pomodoro,
#custom-notification,
#window,
#tray,
#clock,
#hardware,
#audio {
  background-color: @base;
  padding: 0.5rem 1rem;
  margin: 5px 0;
  border: 2px solid @sapphire;
}

#hardware {
  color: @rosewater;
  border-radius: 1rem 1rem;
}

#custom-hw {
  margin-right: 0.3rem;
}

#custom-vpn {
  margin-right: 1rem;
}

#network {
  color: @pink;
  margin-right: 1rem;
}

#cpu {
  color: @green;
  margin-right: 1rem;
}

#memory {
  color: @mauve;
  margin-right: 1rem;
}

#temperature {
  color: @yellow;
  margin-right: 1rem;
}

#temperature.critical {
  font-weight: bold;
  color: @red;
}

#disk {
  color: @peach;
  margin-right: 0.5rem;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight,
#battery {
  border-radius: 0;
}

#tray {
  border-radius: 1rem 1rem 1rem 1rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

#custom-pomodoro {
  border-radius: 1rem 1rem 1rem 1rem;
  margin-right: 0.5rem;
}

#custom-pomodoro.work {
  color: @maroon;
  border: 2px solid @maroon;
}

#custom-pomodoro.break {
  color: @green;
  border: 2px solid @green;
}

#custom-pomodoro.pause {
  color: @yellow;
  border: 2px solid @yellow;
}

#audio {
  color: @rosewater;
  border-radius: 1rem 1rem;
  margin-right: 0.5rem;
  padding-right: 0.3rem;
}

#pulseaudio {
  margin-right: 1rem;
}

#pulseaudio-slider {
  min-height: 0px;
  min-width: 0px;
  padding: 0px;
  padding-right: 1rem;
}

#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
}

#pulseaudio-slider trough {
  min-height: 10px;
  min-width: 80px;
  border-radius: 5px;
}

#pulseaudio-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background-color: green;
}

#custom-pulseaudio-cycle {
  padding-right: 0.5rem;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
  margin-left: 1rem;
  margin-right: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#custom-cava {
  color: @peach;
  border-radius: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: bargraph;
  font-size: 24px;
}

#custom-notification {
  color: @sapphire;
  border-radius: 1rem;
  margin-right: 1rem;
}

#window {
  color: @flamingo;
  border-radius: 1rem;
  margin-right: 0.5rem;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @red;
}

#clock {
  color: @sapphire;
  margin-right: 0.5rem;
  border-radius: 1rem;
}
