# These settings were set by the catalyst build script that automatically
# built this stage.
# Please consult /usr/share/portage/config/make.conf.example for a more
# detailed example.
COMMON_FLAGS="-march=native -O2 -pipe"

CFLAGS="${COMMON_FLAGS}"
CXXFLAGS="${COMMON_FLAGS}"
FCFLAGS="${COMMON_FLAGS}"
FFLAGS="${COMMON_FLAGS}"

# Rust flags
RUSTFLAGS="${RUSTFLAGS} -C target-cpu=native -C opt-level=3"

# Portage
{{- $proc := output "awk" "/MemTotal:/ {printf \"%i\", $2/1024/1024/2}" "/proc/meminfo" | trim | int }}
MAKEOPTS="-j{{ $proc }} -l{{ $proc }}"
EMERGE_DEFAULT_OPTS='${EMERGE_DEFAULT_OPTS} --ask --verbose --verbose-conflicts --with-bdeps=y --complete-graph=y --keep-going --jobs={{ $proc }} --load-average={{ $proc }}.0'
ACCEPT_LICENSE="*"
ACCEPT_KEYWORDS="amd64"
USE="dist-kernel
lto pgo zstd lz4 snappy llvm-libunwind
{{ if .hasSound }}pipewire alsa pulseaudio{{ end }}
screencast vulkan opencl opengl
-systemd -qtwebengine -webengine {{ if not .hasBluetooth }}-bluetooth{{ end }} -handbook"
FEATURES="candy fixlafiles unmerge-orphans notitles parallel-install parallel-fetch clean-logs"
PORTAGE_SCHEDULING_POLICY="idle"

INPUT_DEVICES="libinput"

# NOTE: This stage was built with the bindist USE flag enabled

# This sets the language of build output to English.
# Please keep this setting intact when reporting bugs.
LC_MESSAGES=C.utf8

GENTOO_MIRRORS="http://distfiles.gentoo.org \
    https://mirror.rackspace.com/gentoo/ \
    http://mirror.rackspace.com/gentoo/ \
    rsync://mirror.rackspace.com/gentoo/ \
    https://mirror.freedif.org/gentoo \
    http://mirror.freedif.org/gentoo \
    rsync://mirror.freedif.org/gentoo \
    https://mirrors.aliyun.com/gentoo/ \
    http://mirrors.aliyun.com/gentoo/"
GRUB_PLATFORMS="efi-64"
