{{- if eq .kind "pc" }}
preload   =   {{ .chezmoi.homeDir }}/Pictures/Wallpapers/display1.png
preload   =   {{ .chezmoi.homeDir }}/Pictures/Wallpapers/display2.jpg
wallpaper =   DP-1,contain:{{ .chezmoi.homeDir }}/Pictures/Wallpapers/display1.png
wallpaper =   DP-2,contain:{{ .chezmoi.homeDir }}/Pictures/Wallpapers/display2.jpg
{{- else if eq .kind "vm" }}
preload   =   {{ .chezmoi.homeDir }}/Pictures/Wallpapers/display2.png
wallpaper =   Virtual-1,contain:{{ .chezmoi.homeDir }}/Pictures/Wallpapers/display2.png
{{- end }}
ipc       =   off
