{{- $id := printf "%s_%s" .place .kind }}
{{- if eq $id "HOME_pc" }}
wallpaper {
  monitor = DP-2
  path = {{ .chezmoi.homeDir }}/Wallpapers/16:10/1729210197784.png
  fit_mode = contain
}
{{- else if eq $id "OFFICE_pc" }}
wallpaper {
  monitor = HDMI-A-1
  path = {{ .chezmoi.homeDir }}/Wallpapers/vertical/4.png
  fit_mode = contain
}
{{- end }}
ipc = off
