# Sunsetr configuration
sunset = "17:00:00"       # Time to transition to night mode (HH:MM:SS)
sunrise = "07:00:00"      # Time to transition to day mode (HH:MM:SS)
night_temp = 4000         # Color temperature after sunset (1000-20000) Kelvin
night_gamma = 90.0        # Gamma percentage for night (0-200%)
day_gamma = 100.0         # Gamma percentage for day (0-200%)
{{- if ne .chezmoi.osRelease.id "gentoo" }}
start_hyprsunset = false  # Whether to start hyprsunset automatically
{{- else }}
start_hyprsunset = true   # Whether to start hyprsunset automatically
{{- end }}
