.config/bat/themes/catppuccin.tmTheme:
  type: file
  url: https://raw.githubusercontent.com/catppuccin/bat/main/themes/Catppuccin%20Macchiato.tmTheme
  refreshPeriod: 168h

{{ if and (ne .chezmoi.os "darwin") (not .isHeadless) }}
.local/share/fcitx5/themes/catppuccin:
  type: archive
  url: https://github.com/catppuccin/fcitx5/archive/refs/heads/main.zip
  refreshPeriod: 168h
  stripComponents: 3
  include:
    - fcitx5-main/src/catppuccin-macchiato-sapphire/*

.local/share/themes/Tep:
  type: archive
  url: https://raw.githubusercontent.com/tuandzung/icons-and-themes/refs/heads/main/Catppuccin-Dark-Macchiato-BL-MB.zip
  exact: true
  refreshPeriod: 168h
  stripComponents: 1
  include:
    - Catppuccin-Dark-Macchiato/gtk-*/*
    - Catppuccin-Dark-Macchiato/gtk-*/assets/**

.local/share/icons/Tep-Cursor:
  type: archive
  url: https://github.com/catppuccin/cursors/releases/latest/download/catppuccin-macchiato-sapphire-cursors.zip
  exact: true
  refreshPeriod: 168h
  stripComponents: 1
  exclude:
    - catppuccin-macchiato-sapphire-cursors/index.theme
{{ end }}

.config/zellij/themes/catppuccin.kdl:
  type: file
  url: https://raw.githubusercontent.com/catppuccin/zellij/refs/heads/main/catppuccin.kdl
  refreshPeriod: 168h

.config/qt5ct/colors/catppuccin.conf:
  type: file
  url: https://raw.githubusercontent.com/catppuccin/qt5ct/refs/heads/main/themes/catppuccin-macchiato-sapphire.conf
  refreshPeriod: 168h

.config/qt6ct/colors/catppuccin.conf:
  type: file
  url: https://raw.githubusercontent.com/catppuccin/qt5ct/refs/heads/main/themes/catppuccin-macchiato-sapphire.conf
  refreshPeriod: 168h
