{{ if ne .chezmoi.os "darwin" }}
.local/share/fonts/NotoSansCJK:
  type: archive
  url: https://github.com/notofonts/noto-cjk/releases/download/Sans2.004/02_NotoSansCJK-TTF-VF.zip
  refreshPeriod: 168h

.local/share/fonts/NotoSerifCJK:
  type: archive
  url: https://github.com/notofonts/noto-cjk/releases/download/Serif2.003/03_NotoSerifCJK-TTF-VF.zip
  refreshPeriod: 168h

.local/share/fonts/Tepiosevka:
  type: archive
  url: https://github.com/tuandzung/iosevka-build/releases/latest/download/Tepiosevka.zip
  refreshPeriod: 168h
  stripComponents: 1

.local/share/fonts/DevIcons/devicon.ttf:
  type: file
  url: https://raw.githubusercontent.com/devicons/devicon/master/fonts/devicon.ttf
  refreshPeriod: 168h
{{ else }}
Library/Fonts/Tepiosevka:
  type: archive
  url: https://github.com/tuandzung/iosevka-build/releases/latest/download/Tepiosevka.zip
  refreshPeriod: 168h
  stripComponents: 1
{{ end }}
