{{- if not .isHeadless }}
{{- $fontDir := "" }}
{{- if eq .chezmoi.os "darwin" }}
{{- $fontDir = "Library/Fonts" }}
{{- else if eq .chezmoi.os "linux" }}
{{- $fontDir = ".local/share/fonts" }}
{{- end }}
{{ $fontDir }}/Tepiosevka:
  type: archive
  url: {{ gitHubLatestReleaseAssetURL "tuandzung/iosevka-build" "Tepiosevka.zip" }}
  refreshPeriod: 168h
  stripComponents: 2

{{ $fontDir }}/TepiosevkaNF:
  type: archive
  url: {{ gitHubLatestReleaseAssetURL "tuandzung/iosevka-build" "TepiosevkaNF.zip" }}
  refreshPeriod: 168h
  stripComponents: 2

{{ $fontDir }}/DevIcons/devicon.ttf:
  type: file
  url: https://raw.githubusercontent.com/devicons/devicon/master/fonts/devicon.ttf
  refreshPeriod: 168h

{{ $fontDir }}/SymbolsNerdFont:
  type: archive
  url: {{ gitHubLatestReleaseAssetURL "ryanoasis/nerd-fonts" "NerdFontsSymbolsOnly.zip" }}
  refreshPeriod: 168h
{{- end }}
