#!/bin/env fish

mkdir -p $XDG_RUNTIME_DIR && chmod 700 $XDG_RUNTIME_DIR
{{- $cmd := "niri-session" }}
{{- if eq .windowManager "HYPRLAND" }}
{{-   $cmd := "dbus-run-session Hyprland" }}
{{-   if findExecutable "start-hyprland" (list "/usr/bin") | isExecutable }}
{{-     $cmd = "dbus-run-session start-hyprland" }}
{{-   end }}
{{- end }}
{{ $cmd }}
