#!/bin/bash

shutdown="󰐥 | Shutdown"
reboot=" | Reboot"
suspend="󰤄 | Suspend"
logout="󰍂 | Logout"

entries="$shutdown\n$reboot\n$logout\n$suspend"

selected=$(echo -e $entries | walker -dn --width 4 --height 4 | awk '{print tolower($3)}')

case $selected in
  logout)
    {{- $logoutCmd := "niri msg action quit --skip-confirmation" }}
    {{- if eq .windowManager "HYPRLAND" }}
    {{-   $logoutCmd = "hyprctl dispatch exit" }}
    {{- end }}
    {{ $logoutCmd }}
    ;;
  suspend)
    {{- if eq .chezmoi.osRelease.id "gentoo" }}
    loginctl suspend
    {{- else }}
    systemctl suspend
    {{- end }}
    ;;
  reboot)
    {{- if eq .chezmoi.osRelease.id "gentoo" }}
    loginctl reboot
    {{- else }}
    systemctl reboot
    {{- end }}
    ;;
  shutdown)
    {{- if eq .chezmoi.osRelease.id "gentoo" }}
    loginctl poweroff
    {{- else }}
    systemctl poweroff
    {{- end }}
    ;;
esac
