#!{{ lookPath "bash" }}
source {{ .chezmoi.sourceDir }}/../scripts/lib/dybatpho/init.sh
dybatpho::register_common_handlers

# key hash: {{ joinPath .chezmoi.sourceDir "../secrets/key_pq.age" | include | sha256sum }}

dybatpho::header "Decrypting private key into .config/chezmoi"
if ! dybatpho::is file "${HOME}/.config/chezmoi/key_pq"; then
    mkdir -p "${HOME}/.config/chezmoi"
    age --decrypt --output "${HOME}/.config/chezmoi/key_pq" "{{ .chezmoi.workingTree }}/secrets/key_pq.age"
    if [ $? -eq 0 ]; then
        chmod 400 "${HOME}/.config/chezmoi/key_pq"
        dybatpho::success "Successfully decrypted key file"
    else
        dybatpho::error "Failed to decrypt key file"
    fi
else
  dybatpho::info "Private key already decrypted, skipping..."
fi
