#!{{ .bash }}
. {{ .chezmoi.sourceDir }}/../scripts/lib/dybatpho/init.sh
dybatpho::register_common_handlers

{{- $types := list }}
{{- $types = append $types "personal" }}
# personal hash: {{ joinPath .chezmoi.sourceDir "../secrets/personal.age" | include | sha256sum }}
{{- range .decryptEnterprise }}
{{-   $types = printf "enterprise_%s" . | append $types }}
# {{ . }} hash: {{ printf "../secrets/enterprise_%s.age" . | joinPath $.chezmoi.sourceDir | include | sha256sum }}
{{- end }}

for type in {{ range $types }}{{ . | quote }} {{ end }}; do
  dybatpho::header "Decrypting ${type}.age private key file into .config/chezmoi"
  if ! dybatpho::is file "${HOME}/.config/chezmoi/${type}"; then
    age_params=("--decrypt" "--output" "${HOME}/.config/chezmoi/${type}" "{{ .chezmoi.sourceDir }}/../secrets/${type}.age")
    if age "${age_params[@]}"; then
      chmod 400 "${HOME}/.config/chezmoi/${type}"
      dybatpho::success "Successfully decrypted ${type}.age file"
    else
      dybatpho::error "Failed to decrypt ${type}.age file"
    fi
  else
    dybatpho::info "${type}.age already decrypted, skipping..."
  fi
done
