hosts:
  - host: github.com
    user: git
    identities:
      - personal
  - host: gitlab.com
    user: git
    identities:
      - personal
  - host: aur.archlinux.org
    user: aur
    identities:
      - personal
