{{- $id := printf "%s_%s" .place .kind }}
{{- if eq $id "HOME_pc" }}
[[profile]]
name = "home"

[[profile.output]]
search = ["m=CF791", "s=HTJM400009", "v=Samsung Electric Company"]
enable = true
mode = "3440x1440@100Hz"
position = "0,0"
scale = 1.00
transform = "normal"

[[profile.output]]
search = ["m=0x0000", "s=0x01010101", "v=Invalid Vendor Codename - RTK"]
enable = true
mode = "2560x1600@144Hz"
transform = "normal"
position = "800,1440"
scale = 1.333333


[[profile]]
name = "remote"

[[profile.output]]
search = ["m=0x0000", "s=0x01010101", "v=Invalid Vendor Codename - RTK"]
enable = true
mode = "2560x1600@144Hz"
transform = "normal"
position = "0,0"
scale = 1.333333

{{- else if eq $id "OFFICE_pc" }}
[[profile]]
name = "office"
exec = ["notify-send shikane \"Profile $SHIKANE_PROFILE_NAME has been applied\""]

[[profile.output]]
search = "n/DP-[1-9]"
enable = true
mode = "1920x1080@60Hz"
position = "0,540"
scale = 1.00
transform = "normal"

[[profile.output]]
search = "n/HDMI-[ABC]-[1-9]"
enable = true
mode = "1920x1080@60Hz"
transform = "270"
position = "1920,0"
scale = 1.00

{{- else if eq .kind "vm"}}
[[profile]]
name = "vm"

[[profile.output]]
search = ["Virtual-1"]
enable = true
mode = "1920x1080@60Hz"
transform = "normal"
position = "0,0"
{{- end }}
