{{- if eq .chezmoi.os "darwin" }}
etc/conf.d
etc/default
etc/greetd
etc/grub.d
etc/portage
etc/systemd
etc/hostname
usr
{{- else }}
{{- if ne .chezmoi.osRelease.id "gentoo" }}
usr/lib64
{{- end }}
{{- if ne .chezmoi.osRelease.id "arch" }}
usr/lib
{{- end }}
{{- if eq .browser "ZEN" }}
usr/lib
usr/lib64
{{- end }}
{{- if eq .browser "FIREFOX" }}
/opt/zen-browser
{{- end }}
{{- if not (eq .chezmoi.osRelease.id "arch" "ubuntu") }}
etc/systemd
{{- end }}
{{- if ne .chezmoi.osRelease.id "arch" }}
etc/makepkg.conf
etc/pacman.d
etc/pacman.conf
{{- end }}
{{- if ne .chezmoi.osRelease.id "gentoo" }}
etc/ntp.conf
etc/portage
etc/conf.d
{{- end }}
{{- end }}
