@import "catppuccin.css";

* {
  font-size: 14px;
  font-family: "Tepiosevka";
}

window#osd {
  border-radius: 20px;
  border: 2px solid @lavender;
  background: alpha(@base, 0.8);
}

window#osd #container {
  margin: 6px;
}

window#osd image {
  -gtk-icon-transform: scale(0.5);
}

window#osd image,
window#osd label {
  color: @rosewater;
}

window#osd image,
window#osd progressbar {
  min-height: 10px;
  border-radius: 999px;
  border: none;
}

window#osd trough {
  min-height: inherit;
  border-radius: inherit;
  border: none;
}

window#osd progress {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: @sky;
}
