:root {
  /* Catppuccin Colors */
  --bg: #181926;
  --currentline: #363a4f;
  --fg: #d9e0ee;
  --comment: #5b6078;
  --flamingo: #f0c6c6;
  --mauve: #c6a0f6;
  --pink: #f5bde6;
  --maroon: #ee99a0;
  --red: #ed8796;
  --peach: #f5a97f;
  --yellow: #eed49f;
  --green: #a6da95;
  --teal: #8bd5ca;
  --blue: #8aadf4;
  --sky: #91d7e3;
  --sapphire: #7dc4e4;
  --lavender: #b7bdf8;
  --rosewater: #f4dbd6;
  --font: Tepiosevka; /*"FiraCode Nerd Font Mono";*/

  /* vimium theme uses colors: flamingo, peach, rosewater, green, blue, lavender */
  --tridactyl-fg: var(--fg);
  --tridactyl-bg: var(--bg);
  --tridactyl-url-fg: var(--sapphire);
  --tridactyl-url-bg: var(--bg);
  --tridactyl-highlight-box-bg: var(--currentline);
  --tridactyl-of-fg: var(--fg);
  --tridactyl-of-bg: var(--currentline);

  --tridactyl-font-family: var(--font);

  --tridactyl-status-font-size: 12px;
  --tridactyl-status-font-family: var(--font);
  --tridactyl-status-font-bg: var(--tridactyl-cmdl-bg);
  --tridactyl-status-border: 2px solid var(--sapphire);
  --tridactyl-status-border-radius: 4px;

  --tridactyl-header-font-size: 16px;

  --tridactyl-hintspan-fg: var(--bg);
  --tridactyl-hintspan-bg: var(--peach);

  --tridactyl-cmdl-fg: var(--mauve);
  --tridactyl-cmdl-font-size: 1.5rem;
  --tridactyl-cmplt-option-height: 1.9em;

  --tridactyl-border-radius: 4px;

  /* Element Highlights */
  --tridactyl-hint-active-fg: none;
  --tridactyl-hint-active-bg: none;
  --tridactyl-hint-active-outline: none;
  --tridactyl-hint-bg: none;
  --tridactyl-hint-outline: none;
}

:root.TridactylOwnNamespace {
  scrollbar-width: thin;
}

:root.TridactylOwnNamespace a {
  color: var(--blue);
}

:root.TridactylOwnNamespace code {
  background-color: var(--bg);
  padding: 3px 7px;
}

:root #command-line-holder {
  order: 1;
  border: 2px solid var(--lavender);
}

:root #command-line-holder,
:root #tridactyl-input {
  border-radius: var(--tridactyl-border-radius) !important;
}

:root #tridactyl-colon::before {
  content: "";
}

:root #tridactyl-input {
  width: 96%;
  padding: 1rem;
}

:root #completions table {
  font-weight: 200;
  table-layout: fixed;
  padding: 1rem;
  padding-top: 0;
}

:root #completions > div {
  max-height: calc(20 * var(--tridactyl-cmplt-option-height));
  min-height: calc(10 * var(--tridactyl-cmplt-option-height));
}

:root #completions {
  border: none !important;
  font-family: var(--tridactyl-font-family);
  order: 2;
  margin-top: 10px;
  border-radius: var(--tridactyl-border-radius);
}

:root #completions .HistoryCompletionSource table {
  width: 100%;
  border-spacing: 0;
  table-layout: fixed;
}

:root #completions .BufferCompletionSource table {
  width: unset;
  font-size: unset;
  border-spacing: unset;
  table-layout: unset;
}

:root #completions table tr .title {
  width: 50%;
}

:root #completions tr .documentation {
  white-space: nowrap;
  overflow: auto;
  text-overflow: ellipsis;
}

:root #completions .sectionHeader {
  background: transparent;
  padding: 1rem 1rem 0.4rem !important;
}

:root #cmdline_iframe {
  position: fixed !important;
  bottom: unset;
  top: 25% !important;
  left: 10% !important;
  z-index: 2147483647 !important;
  width: 80% !important;
  filter: drop-shadow(0px 0px 20px #000000) !important;
  color-scheme: only light; /* Prevent Firefox from adding a white background on dark-mode sites */
}

:root .TridactylStatusIndicator {
  position: fixed !important;
  bottom: 10px !important;
  right: 10px !important;
  font-weight: 200 !important;
  padding: 5px !important;
}
