#!/bin/sh

{{- if eq .chezmoi.osRelease.id "gentoo" }}
export XDG_RUNTIME_DIR=/tmp/user-$(id -u)
{{- else }}
export XDG_RUNTIME_DIR=/run/user/$(id -u)
{{- end }}
export HOME=$XDG_RUNTIME_DIR
mkdir -p $XDG_RUNTIME_DIR && chmod 700 $XDG_RUNTIME_DIR
{{- $cmd := "niri --session" }}
{{- $configFile := "/etc/greetd/niri.kdl" }}
{{- if eq .windowManager "HYPRLAND" }}
{{-   $cmd := "Hyprland" }}
{{-   $configFile := "/etc/greetd/hyprland.conf" }}
{{-   if findExecutable "start-hyprland" (list "/usr/bin") }}
{{-     $cmd = "start-hyprland --" }}
{{-   end }}
{{- end }}
dbus-run-session {{ $cmd }} --config {{ $configFile }}
