{{- $glabSecret := dict }}
{{- $scope := "global" }}
{{- if index . "personal" }}
{{-   $glabSecret = join .chezmoi.sourceDir "../secrets/data/personal/glab.yaml.age" | include | decrypt | fromYaml }}
{{- else if index . "enterprise" }}
{{-   $glabSecret = printf "../secrets/data/enterprise_%s/glab.yaml.age" .enterprise.name | join .chezmoi.sourceDir | include | decrypt | fromYaml }}
{{-   $scope = .enterprise.scope }}
{{- end }}
{{- range $glabSecret.hosts }}
{{-   if $.preferGitSSH }}
{{-     $_ := set .config "git_protocol" "ssh" }}
{{-   end }}
{{    .name | indent 4 }}:
{{    .config | toYaml | indent 8 }}
{{- end }}
