{{- $theme := .catppuccin.macchiato }}
{{- if not .darkMode }}
{{-   $theme = .catppuccin.latte }}
{{- end }}
@define-color rosewater {{ $theme.rosewater }};
@define-color flamingo {{ $theme.flamingo }};
@define-color pink {{ $theme.pink }};
@define-color mauve {{ $theme.mauve }};
@define-color red {{ $theme.red }};
@define-color maroon {{ $theme.maroon }};
@define-color peach {{ $theme.peach }};
@define-color yellow {{ $theme.yellow }};
@define-color green {{ $theme.green }};
@define-color teal {{ $theme.teal }};
@define-color sky {{ $theme.sky }};
@define-color sapphire {{ $theme.sapphire }};
@define-color blue {{ $theme.blue }};
@define-color lavender {{ $theme.lavender }};
@define-color text {{ $theme.text }};
@define-color subtext1 {{ $theme.subtext1 }};
@define-color subtext0 {{ $theme.subtext0 }};
@define-color overlay2 {{ $theme.overlay2 }};
@define-color overlay1 {{ $theme.overlay1 }};
@define-color overlay0 {{ $theme.overlay0 }};
@define-color surface2 {{ $theme.surface2 }};
@define-color surface1 {{ $theme.surface1 }};
@define-color surface0 {{ $theme.surface0 }};
@define-color base {{ $theme.base }};
@define-color mantle {{ $theme.mantle }};
@define-color crust {{ $theme.crust }};
