[env]
{{- if has "TCV" .decryptEnterprise }}
{{-   $top := merge . (dict
        "enterprise" (dict
          "name" "TCV"
          "scope" "TCV"
        )
      )
}}
{{-   template "mise/env_jira.toml.tmpl" $top }}
{{-   template "mise/env_git.toml.tmpl" $top }}
{{- end }}
DOCKER_CONFIG = "{{ "{{config_root}}" }}/.docker"
JIRA_CONFIG_FILE = "{{ "{{config_root}}" }}/.jira/config.yaml"
CLAUDE_CONFIG_DIR = "{{ "{{config_root}}" }}/.claude"
GOOGLE_WORKSPACE_CLI_CONFIG_DIR = "{{ "{{config_root}}" }}/.gws"
