name: age
is_essential: true
{{- if eq .chezmoi.os "darwin" }}
method: os
# https://repology.org/project/age-encryption/versions
macos:
  packages:
    - name: age
{{- else }}
method: binary
github:
  repo: FiloSottile/age
  version: latest
  release_asset: age-%1s-{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz
archive:
  - path: age/age*
    strip: 1
{{- end }}
