name: bat
is_essential: true
{{- if eq .chezmoi.os "android" "darwin" }}
# Use package manager for Android, macOS
# https://repology.org/project/bat-cat/versions
method: os
termux:
  packages:
    - name: bat
macos:
  packages:
    - name: bat
{{- else }}
method: binary
github:
  repo: sharkdp/bat
  version: latest
  {{- $arch := "" }}
  {{- if eq .chezmoi.arch "amd64" }}
  {{- $arch = "x86_64" }}
  {{- else if eq .chezmoi.arch "arm64" }}
  {{- $arch = "aarch64" }}
  {{- end }}
  release_asset: bat-%1s-{{ $arch }}-unknown-linux-musl.tar.gz
archive:
  - path: bat-%1s-{{ $arch }}-unknown-linux-musl/bat
    strip: 1
  - path: bat-%1s-{{ $arch }}-unknown-linux-musl/bat.1
    strip: 1
    location: {{ .chezmoi.homeDir }}/.local/man/man1
  - path: bat-%1s-{{ $arch }}-unknown-linux-musl/autocomplete/bat.fish
    strip: 2
    location: {{ .chezmoi.homeDir }}/.config/fish/completions
{{- end }}
