name: betterbird
method: os
is_essential: true
{{- if not .isHeadless }}
gentoo:
  packages:
    - name: mail-client/betterbird-bin
      repo: guru
arch:
  packages:
    - name: betterbird-bin
{{- end }}
macos:
  packages:
    - name: thunderbird
      cask: true
