name: btop
is_essential: true
{{- if eq .chezmoi.os "darwin"}}
method: os
macos:
  packages:
    - name: btop
{{- else }}
method: binary
github:
  repo: aristocratos/btop
  version: latest
  {{- if eq .chezmoi.arch "amd64" }}
  release_asset: btop-x86_64-unknown-linux-musl.tbz
  {{- else if eq .chezmoi.arch "arm64" }}
  release_asset: btop-aarch64-unknown-linux-musl.tbz
  {{- end }}
archive:
  strip_components: 3
  paths:
    - ./btop/bin/btop
{{- end }}
