{{- if eq .chezmoi.os "linux"}}
name: cliphist
is_essential: true
{{- if eq .chezmoi.osRelease.id "gentoo" "arch" }}
method: os
gentoo:
  packages:
    - name: app-misc/cliphist
      repo: guru
arch:
  packages:
    - name: cliphist
{{- else }}
method: binary
github:
  repo: sentriz/cliphist
  version: latest
  {{- if eq .chezmoi.arch "amd64" }}
  release_asset: "%1s-linux-amd64"
  {{- else if eq .chezmoi.arch "arm64" }}
  release_asset: "%1s-linux-arm"
  {{- end }}
{{- end }}
{{- end }}
