name: curlie
{{- if eq .chezmoi.os "linux"}}
method: binary
github:
  repo: rs/curlie
  release_asset: curlie_%s_{{ .chezmoi.os }}_{{ .chezmoi.arch }}.tar.gz
  sha256: curlie_%s_checksums.txt
archive:
  - path: curlie
{{- else }}
method: os
macos:
  packages:
    - name: curlie
{{- end }}
