name: dust
{{- if eq .chezmoi.os "android" "darwin" }}
# Use package manager for Android, macOS
method: os
termux:
  packages:
    - name: dust
macos:
  packages:
    - name: dust
{{- else }}
method: binary
github:
  repo: bootandy/dust
  version: latest
  {{- $arch := "" }}
  {{- if eq .chezmoi.arch "amd64" }}
  {{- $arch = "x86_64" }}
  {{- else if eq .chezmoi.arch "arm64" }}
  {{- $arch = "aarch64" }}
  {{- end }}
  release_asset: dust-%1s-{{ $arch }}-unknown-linux-musl.tar.gz
archive:
  strip_components: 1
  paths:
    - dust-%1s-{{ $arch }}-unknown-linux-musl/dust
{{- end }}
