name: fastfetch
method: os
is_essential: true
gentoo:
  packages:
    - name: app-misc/fastfetch
arch:
  packages:
    - name: fastfetch
ubuntu:
  packages:
    - name: fastfetch
{{- if eq .chezmoi.osRelease.id "ubuntu" "linuxmint" }}
      repo_name: fastfetch
      repo_url: https://ppa.launchpadcontent.net/zhangsongcui3371/fastfetch/ubuntu
      repo_version: {{ .chezmoi.osRelease.ubuntuCodename }} main
{{- end }}
macos:
  packages:
    - name: fastfetch
