name: fastfetch
method: os
is_essential: true
gentoo:
  packages:
    - name: app-misc/fastfetch
arch:
  packages:
    - name: fastfetch
{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "ubuntu" "debian" "linuxmint") }}
ubuntu:
  packages:
    - name: fastfetch
      repo: https://ppa.launchpadcontent.net/zhangsongcui3371/fastfetch/ubuntu
      repo_version: {{ .chezmoi.osRelease.ubuntuCodename }} main
{{- end }}
macos:
  packages:
    - name: fastfetch
