name: fd
is_essential: true
{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "gentoo" "ubuntu") }}
method: binary
github:
  repo: sharkdp/fd
  version: latest
  {{- if eq .chezmoi.arch "amd64" }}
  release_asset: fd-%1s-x86_64-unknown-linux-gnu.tar.gz
  {{- else if eq .chezmoi.arch "arm64" }}
  release_asset: fd-%1s-aarch64-unknown-linux-gnu.tar.gz
  {{- end }}
archive:
  strip_components: 1
  paths:
  {{- if eq .chezmoi.arch "amd64" }}
    - fd-%1s-x86_64-unknown-linux-gnu/fd
  {{- else if eq .chezmoi.arch "arm64" }}
    - fd-%1s-aarch64-unknown-linux-gnu/fd
  {{- end }}
  hook:
    after: |
      {{- if eq .chezmoi.arch "amd64" }}
      arch=x86_64
      {{- else if eq .chezmoi.arch "arm64" }}
      arch=aarch64
      {{- end }}
      mv "$TEMP_DIR/fd-%1s-$arch-unknown-linux-gnu/fd.1" "$MAN_DIR/man1"
{{- else }}
method: os
macos:
  packages:
    - name: fd
arch:
  packages:
    - name: fd
{{- end }}
