{{- if not .isHeadless }}
name: ferdium
method: os
is_essential: true
gentoo:
  packages:
    - name: net-im/ferdium-bin
      repo: tep
arch:
  packages:
    - name: ferdium
macos:
  packages:
    - name: ferdium
      cask: true
{{- end }}
