name: ferdium
method: os
is_essential: true
gentoo:
  packages:
    - name: net-im/ferdium-bin
      repo: tep
      accept_keywords: |-
        net-im/ferdium-bin ~amd64
arch:
  packages:
    - name: ferdium
macos:
  packages:
    - name: ferdium
      cask: true
