{{- if not .isHeadless }}
{{- if eq .browser "FIREFOX" }}
name: firefox
method: os
is_essential: true
gentoo:
  packages:
    {{- if eq .kind "pc"}}
    - name: sys-libs/libunwind
    {{- end }}
    - name: www-client/firefox
arch:
  packages:
    - name: firefox
ubuntu:
  packages:
    - name: firefox
macos:
  packages:
    - name: firefox
      cask: true
{{- else }}
name: zen-browser
method: os
is_essential: true
gentoo:
  packages:
    - name: www-client/zen-browser-bin
      repo: edgets
arch:
  packages:
    - name: zen-browser-bin
macos:
  packages:
    - name: zen-browser
      cask: true
{{- end }}
{{- end }}
