name: go
method: os
is_essential: true
gentoo:
  packages:
    - name: dev-lang/go
arch:
  packages:
    - name: go
macos:
  packages:
    - name: go
ubuntu:
  packages:
    - name: golang-go
      repo: https://ppa.launchpadcontent.net/longsleep/golang-backports/ubuntu
      repo_version: {{ .chezmoi.osRelease.ubuntuCodename }} main
      key: 876B22BA887CA91614B5323FC631127F87FA12D1
