name: just
is_essential: true
{{- if and (eq .chezmoi.os "linux") }}
method: binary
github:
  repo: casey/just
  {{- if eq .chezmoi.arch "amd64" }}
  release_asset: just-%s-x86_64-unknown-linux-musl.tar.gz 
  {{- else if eq .chezmoi.arch "arm64" }}
  release_asset: just-%s-aarch64-unknown-linux-musl.tar.gz 
  {{- end }}
archive:
  paths:
    - just
hook:
  after: |
    param="-xz -f $TEMP_DIR/$RELEASE_ASSET"
    mkdir -p "$MAN_DIR/man1"
    tar $param -C "$MAN_DIR/man1" just.1
    if [ -d ~/.config/fish/completions ]; then
      tar $param --strip=1 -C ~/.config/fish/completions completions/just.fish
    fi
{{- else }}
method: os
macos:
  packages:
    - name: just
{{- end }}
