{{- if not .isHeadless }}
{{-   if eq .windowManager "NIRI" "HYPRLAND" }}
name: walker
method: os
is_essential: true
gentoo:
  packages:
    - name: walker
      repo: tep
    - name: elephant
      repo: tep
arch:
  packages:
    - name: walker-bin
    - name: elephant
    - name: elephant-desktopapplications
    - name: elephant-calc
    - name: elephant-files
    - name: elephant-clipboard
    - name: elephant-symbols
    - name: elephant-menus
    - name: elephant-providerlist
    - name: elephant-websearch
    - name: elephant-bitwarden
{{-   else }}
name: raycast
method: os
is_essential: true
macos:
  packages:
    - name: raycast
      cask: true
  hook:
    after: |-
      /usr/bin/osascript -e 'tell application "System Events" to make new login item at end with properties {name:"Raycast.app", path:"/Applications/Raycast.app", kind:"Application", hidden:true}'
{{-   end }}
{{- end }}
