name: lazydocker
is_essential: true
{{- if eq .chezmoi.os "linux" }}
method: binary
github:
  repo: jesseduffield/lazydocker
  version: latest
  {{- if eq .chezmoi.arch "amd64" }}
  release_asset: lazydocker_%s_Linux_x86_64.tar.gz
  {{- else if eq .chezmoi.arch "arm64" }}
  release_asset: lazydocker_%s_Linux_arm64.tar.gz
  {{- end }}
archive:
  paths:
    - lazydocker
{{- else }}
method: os
macos:
  packages:
    - name: lazydocker
{{- end }}
