name: mpv
method: os
is_essential: true
gentoo:
  packages:
    - name: media-video/mpv
arch:
  packages:
    - name: mpv
    {{- if eq .graphicsDriver "AMD" }}
    - name: vulkan-radeon
    {{- end }}
macos:
  packages:
    - name: mpv
