name: mpv
method: os
is_essential: true
{{- if not .isHeadless }}
gentoo:
  packages:
    - name: media-video/mpv
arch:
  packages:
    - name: mpv
    {{- if eq .graphicsDriver "AMD" }}
    - name: vulkan-radeon
    {{- end }}
ubuntu:
  packages:
    - name: mpv
{{- end }}
macos:
  packages:
    - name: mpv
