name: neovim
method: os
is_essential: true
gentoo:
  packages:
    - name: app-editors/neovim
      accept_keywords: |-
        app-editors/neovim **
      use: |-
        app-editors/neovim -nvimpager
arch:
  packages:
    - name: neovim
{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "ubuntu" "debian" "linuxmint") }}
ubuntu:
  packages:
    - name: neovim
      repo: http://ppa.launchpad.net/neovim-ppa/unstable/ubuntu
      repo_version: {{ .chezmoi.osRelease.ubuntuCodename }} main
{{- end }}
termux:
  packages:
    - name: neovim
macos:
  packages:
    - name: neovim
