name: ov
is_essential: true
{{- if eq .chezmoi.os "darwin" }}
method: os
macos:
  packages:
    - name: ov
{{- else }}
name: ov
method: binary
is_essential: true
github:
  repo: noborus/ov
  release_asset: ov_%s_{{ .chezmoi.os }}_{{ .chezmoi.arch }}.zip
  sha256: ov_%s_checksums.txt
archive:
  - path: ov
{{- end }}
