name: rg
is_essential: true
{{- if eq .chezmoi.os "darwin" }}
method: os
# https://repology.org/project/ripgrep/versions
macos:
  packages:
    - name: ripgrep
{{- else }}
method: binary
github:
  repo: BurntSushi/ripgrep
  {{- $arch := "" }}
  {{- $suffix := "" }}
  {{- if eq .chezmoi.arch "amd64" }}
  {{-   $arch = "x86_64" }}
  {{-   $suffix = "musl" }}
  {{- else if eq .chezmoi.arch "arm64" }}
  {{-   $arch = "aarch64" }}
  {{-   $suffix = "gnu" }}
  {{- end }}
  release_asset: ripgrep-%s-{{ $arch }}-unknown-linux-{{ $suffix }}.tar.gz
  sha256: ripgrep-%s-{{ $arch }}-unknown-linux-{{ $suffix }}.tar.gz.sha256
archive:
  - path: ripgrep-%s-{{ $arch }}-unknown-linux-{{ $suffix }}/rg
    strip: 1
  - path: ripgrep-%s-{{ $arch }}-unknown-linux-{{ $suffix }}/doc/rg.1
    strip: 2
    location: {{ .chezmoi.homeDir }}/.local/man/man1
{{- end }}
