name: sops
{{- if eq .chezmoi.os "linux" }}
method: binary
github:
  repo: getsops/sops
  version: latest
  release_asset: sops-%1s.linux.{{ .chezmoi.arch }}
{{- else }}
method: os
macos:
  packages:
    - name: sops
{{- end}}
