{{- if .hasSound }}
name: spotify_player
is_essential: true
{{- if and (eq .chezmoi.os "linux") (ne .chezmoi.osRelease.id "arch") }}
method: shell
dependencies:
  - rust
content: |-
  cargo install spotify_player --no-default-features --locked --features pulseaudio-backend,streaming,notify
{{- else }}
method: os
macos:
  packages:
    - name: spotify_player
arch:
  packages:
    - name: spotify-player-full
{{- end }}
{{- end }}
