name: starship
is_essential: true
{{- if eq .osid "linux-arch" "darwin" }}
method: os
macos:
  packages:
    - name: starship
arch:
  packages:
    - name: starship
{{- else }}
method: binary
is_essential: true
github:
  repo: starship/starship
  {{- if eq .chezmoi.arch "amd64" }}
  release_asset: starship-x86_64-unknown-linux-gnu.tar.gz
  {{- else if eq .chezmoi.arch "arm64" }}
  release_asset: starship-aarch64-unknown-linux-musl.tar.gz
  {{- end }}
archive:
  paths:
    - starship
{{- end }}
