
{{- if eq .chezmoi.os "linux" }}
name: sunsetr
is_essential: true
method: binary
github:
  repo: psi4j/sunsetr
  version: latest
  release_asset: sunsetr-%1s-x86_64-linux.tar.gz  
archive:
  paths:
    - sunsetr-%1s/sunsetr
{{- end }}
