{{- if and (eq .chezmoi.os "linux") }}
name: task
method: binary
github:
  repo: go-task/task
  version: latest
  release_asset: task_linux_{{ .chezmoi.arch }}.tar.gz
  sha256: task_checksums.txt
archive:
  - path: task
  - path: completion/fish/task.fish
    strip: 1
    location: {{ .chezmoi.homeDir }}/.config/fish/completions
{{- else }}
name: task
is_essential: true
method: os
macos:
  packages:
    - name: go-task
{{- end }}
