{{- if eq .osid "linux-arch" "darwin" }}
name: tldr
is_essential: true
method: os
arch:
  packages:
    - name: tealdeer
macos:
  packages:
    - name: tealdeer
{{- else }}
name: tldr
method: binary
github:
  repo: dbrgn/tealdeer
  version: latest
  release_asset: tealdeer-linux-x86_64-musl
{{- end }}
