{{- if and (eq .chezmoi.os "linux") (ne .chezmoi.osRelease.id "arch") }}
name: tldr
is_essential: true
method: binary
github:
  repo: dbrgn/tealdeer
  version: latest
  release_asset: tealdeer-linux-x86_64-musl
{{- else }}
name: tldr
is_essential: true
method: os
arch:
  packages:
    - name: tealdeer
macos:
  packages:
    - name: tealdeer
{{- end }}
