name: trdsql
method: binary
github:
  repo: noborus/trdsql
  {{- $os := .chezmoi.os }}
  {{- if eq .chezmoi.os "android" }}
  {{- $os = "linux" }}
  {{- end }}
  release_asset: trdsql_%1s_{{ .chezmoi.os }}_{{ .chezmoi.arch }}.zip
archive:
  - path: trdsql_%1s_{{ .chezmoi.os }}_{{ .chezmoi.arch }}/trdsql
    strip: 1
