name: vivid
is_essential: true
{{- if eq .osid "linux-arch" "darwin" }}
method: os
macos:
  packages:
    - name: vivid
arch:
  packages:
    - name: vivid
{{- else }}
method: binary
github:
  repo: sharkdp/vivid
  {{- $arch := "" }}
  {{- if eq .chezmoi.arch "amd64" }}
  {{-   $arch = "x86_64" }}
  {{- else if eq .chezmoi.arch "arm64" }}
  {{-   $arch = "aarch64" }}
  {{- end }}
  release_asset: vivid-%1s-{{ $arch }}-unknown-linux-gnu.tar.gz
archive:
  - path: vivid-%1s-{{ $arch }}-unknown-linux-gnu/vivid
    strip: 1
{{- end }}
