{{- if not .isHeadless }}
name: hyprland
method: os
is_essential: true
gentoo:
  packages:
    - name: gui-wm/hyprland
    - name: gui-apps/hyprlock
    - name: gui-libs/xdg-desktop-portal-hyprland
    - name: x11-libs/xcb-util
    - name: gui-apps/hypridle
    - name: gui-apps/hyprpaper
      repo: guru
    - name: gui-apps/hyprshade
      repo: guru
    - name: gui-apps/hyprsunset
      repo: guru
    - name: sys-auth/hyprpolkitagent
      repo: guru
    - name: sys-auth/seatd
    - name: gui-apps/mpvpaper
      repo: guru
  hook:
    after: |-
      sudo gpasswd -a $USER video
      sudo gpasswd -a $USER seat
      sudo rc-update add seatd default
      sudo rc-service seatd restart
arch:
  packages:
    - name: hyprland
    - name: hyprlock
    - name: hyprpaper
    - name: hyprshade
    - name: hyprsunset
    - name: xdg-desktop-portal-wlr
    - name: xdg-desktop-portal-hyprland
    - name: hypridle
    - name: cpio
    - name: cmake
    - name: meson
    - name: hyprpolkitagent
    - name: mpvpaper
{{- end }}
