{{- if not .isHeadless }}
{{- if eq .windowManager "HYPRLAND" }}
name: hyprland
method: os
is_essential: true
gentoo:
  packages:
    - name: gui-wm/hyprland
    - name: gui-apps/hyprlock
    - name: gui-libs/xdg-desktop-portal-hyprland
    - name: x11-libs/xcb-util
    - name: gui-apps/hypridle
    - name: gui-apps/hyprpaper
      repo: guru
    - name: gui-apps/hyprshade
      repo: guru
    - name: gui-apps/hyprsunset
      repo: guru
    - name: sys-auth/hyprpolkitagent
      repo: guru
    - name: sys-auth/seatd
    - name: gui-apps/mpvpaper
      repo: guru
  hook:
    after: |-
      sudo gpasswd -a $USER video
      sudo gpasswd -a $USER seat
      sudo rc-update add seatd default
      sudo rc-service seatd restart
arch:
  packages:
    - name: hyprland
    - name: hyprlock
    - name: hyprpaper
    - name: hyprshade
    - name: hyprsunset
    - name: xdg-desktop-portal-wlr
    - name: xdg-desktop-portal-hyprland
    - name: hypridle
    - name: cpio
    - name: cmake
    - name: meson
    - name: hyprpolkitagent
    - name: mpvpaper
{{- else if eq .windowManager "NIRI" }}
name: niri
method: os
is_essential: true
gentoo:
  packages:
    - name: gui-wm/niri
    - name: gui-apps/hyprlock
      repo: guru
    - name: sys-apps/xdg-desktop-portal-gnome
    - name: gui-apps/hypridle
      repo: guru
    - name: gui-apps/hyprpaper
      repo: guru
    - name: gnome-extra/polkit-gnome
      repo: guru
    - name: sys-auth/seatd
    - name: gui-apps/mpvpaper
      repo: guru
    - name: gui-apps/xwayland-satellite
      repo: guru
  hook:
    after: |-
      sudo gpasswd -a $USER video
      sudo gpasswd -a $USER seat
      sudo rc-update add seatd default
      sudo rc-service seatd restart
arch:
  packages:
    - name: niri
    - name: hyprlock
    - name: hyprpaper
    - name: xdg-desktop-portal-gnome
    - name: polkit-gnome
    - name: hypridle
    - name: mpvpaper
    - name: xwayland-satellite
{{- else if eq .windowManager "OMNIWM" }}
name: omniwm
method: os
is_essential: true
macos:
  packages:
    - name: BarutSRB/tap/omniwm
  hook:
    after: |-
      /usr/bin/osascript -e "tell application \"System Events\" to make new login item at end with properties {name:\"OmniWM.app\", path:\"/Applications/OmniWM.app\", kind:\"Application\", hidden:true}"
{{- end }}
{{- end }}
