name: wtf
method: binary
github:
  repo: wtfutil/wtf
  release_asset: wtf_%s_{{ .chezmoi.os }}_{{ .chezmoi.arch }}.tar.gz
archive:
  paths:
    - wtfutil
  strip_components: 1
hook:
  after: |
    mv ~/.local/bin/wtfutil ~/.local/bin/wtf
