name: wtf
method: binary
github:
  repo: wtfutil/wtf
  release_asset: wtf_%s_{{ .chezmoi.os }}_{{ .chezmoi.arch }}.tar.gz
  sha256: wtf_%s_checksums.txt
archive:
  - path: wtfutil
hook:
  after: |
    mv ~/.local/bin/wtfutil ~/.local/bin/wtf
