name: xleak
method: binary
github:
  repo: bgreenwell/xleak
  {{- $os := "unknown-linux-musl" }}
  {{- if eq .chezmoi.os "darwin" }}
  {{-   $os := "apple-darwin" }}
  {{- end }}
  {{- $arch := "" }}
  {{- if eq .chezmoi.arch "amd64" }}
  {{-   $arch = "x86_64" }}
  {{- else if eq .chezmoi.arch "arm64" }}
  {{-   $arch = "aarch64" }}
  {{- end }}
  release_asset: xleak-{{ $arch }}-{{ $os }}.tar.xz
archive:
  strip_components: 1
  paths:
    - xleak-{{ $arch }}-{{ $os }}/xleak
